@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Rubik, sans-serif;
	font-weight: 500;
}

body{
	min-height: 100vh;
	background: rgb(238,174,202);
	background: linear-gradient(155deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}